<div class="card">
    <div class="card-header">
      本次消费 - {{clientName}}
    </div>
</div>


<div class="card">
  <div class="card-body">

    <div class="alert alert-danger err" [hidden]="!temp_err">
        <p>{{error.activity_cost}}</p>
    </div>

    <form #newExpenseForm=ngForm (ngSubmit)="onSubmit()">

      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="inputName">金额</label>
          <input type="number" step="0.01" placeholder="0.00" name="activityCost" class="form-control" id="inputActivityCost" [(ngModel)]="expenseForm.activity_cost" required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-1.5">
          <button type="submit" class="btn btn-outline-success">确认修改</button>
        </div>

        <div class="form-group col-md-1">
            <button (click)="back()" class="btn btn-outline-primary">返回</button>
        </div>
      </div>

    </form>

  </div>
</div>
