<ul class="nav flex-column">
  <li class="nav-item title">
    <h1>雷子造型</h1>
    <h2>Leitzu Barber</h2>

    <button class="btn btn-outline-success btn-sm" routerLink="" *ngIf="!loggedIn">&nbsp;登录&nbsp;</button>
    <p></p>


    <img class="profile-img" src="assets/images/user-icon.png" routerLink="/profile" *ngIf="loggedIn" /><br *ngIf="loggedIn"/><br *ngIf="loggedIn"/>
    <button class="btn btn-outline-success btn-sm" (click)="logout($event)" *ngIf="loggedIn">&nbsp;登出&nbsp;</button>
    <p></p>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="dashboard">主页</a>
  </li>

  <li class="nav-item">
    <a class="nav-link active" routerLink="clients">会员</a>
  </li>
</ul>