form div{
    color: #fff;
}

.err{
    padding: 1rem 1rem 0rem 1rem;
}

.card-header{
    background-color: #212529;
    color: #fff;
    font-size: 1.5em;
    border: solid #fff;
    border-width: 0px 0px 1px 0px;
    border-radius: 1px;
}

.card{
    border-style: none;
    background-color: #212529;
}

.div-record{
    padding-left: 0;
}

.card-record{
    border: solid #fff;
    border-width: 0px 1px 1px 1px;
    border-radius: 0px 0px 10px 10px;
}

.card-body-record{
    padding: 0px 20px 20px 20px;
}

.card-header-record{
    border: none;
    text-align: center;
}

.delete{
    color: red;
    cursor: pointer;
}

.delete:hover{
    color: darkred;
}

.no-record{
    background-color: #21252900;
    border: none;
    color: #fff;
}

.input-group-add-record{
    background-color: #fff;
    border-radius: 4px;
    width: 130px;
    height: 35px;
    font-size: 0.6em;
    color: #212529;
    line-height: 35px;
}

.input-group-add-record:hover{
    cursor: pointer;
    opacity: 0.9;
    line-height: 35px;
}

.add{
    padding-left: 9px;
}

.add-sign{
    font-size: 2em;
    padding-top: 2.5px;
    padding-right: 8px;
    padding-left: 8px;
}

.edit{
    color: #28a745;
    cursor: pointer;
}

.edit:hover{
    color: #208337;
}