<div class="card title-container">
  <div class="card-header title">
    图表
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="card text-white bg-dark mb-3 monthly-report" style="max-width: 18rem;">
      <div class="card-header">月报表</div>
      <div class="card-body">
        <h5 class="card-title">{{currentDate | date:'M'}}月</h5>
        <p class="card-text">总收入: ￥{{monthlyExepense}}</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card text-white bg-dark mb-3 monthly-report" style="max-width: 18rem;">
      <div class="card-header">年报表</div>
      <div class="card-body">
        <h5 class="card-title">{{currentDate | date:'yyyy'}}年</h5>
        <p class="card-text">总收入: ￥{{yearlyExepense}}</p>
      </div>
    </div>
  </div>
</div>
