.highlightCurrentPage{
    color: red;
}

/* #tool-bar{
    display: grid;
    grid-template-columns: [col] 12.5vw [col] 12.5vw [col] 12.5vw [col] 12.5vw [col] 12.5vw [col] 12.5vw;
        grid-template-rows: [row] auto [row];
    grid-gap: 1vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vh;
    padding-bottom: 2vh;
}

#tool-bar > div{
    background-color: rgba(233, 225, 225, 1);
    padding: 5px;
}

.search-area{
    grid-column: col / span 2;
    grid-row: row ;
}

.customer-contact-area{
    grid-column: col 3 / span;
    grid-row: row ;
}

.follow-up-status-area{
    grid-column: col 4 / span;
    grid-row: row ;
}

.reset-area{
    grid-column: col 6 / span;
    grid-row: row ;
}

.add-area{
    grid-column: col / span 1;
    grid-row: row 2 ;
}

#table-container{
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vh;
}

table{
    border: 2px solid #A40808;
    background-color: #EEE7DB;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

td, th{
    border: 1px solid #AAAAAA;
    padding: 15px 2px;
}

tbody td {
    font-size: 16px;
}

tr:nth-child(even) {
    background: #F5C8BF;
}

thead {
    background: #A40808;
}

thead th {
    font-size: 19px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 10px solid #A40808;
}

thead th:first-child {
    border-left: none;
}*/

.table{
    width: 100%;
}

tfoot {
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}

tfoot td {
    font-size: 13px;
}

tfoot a{
    display: inline-block;
    background: #FFFFFF;
    color: #222;
    padding: 5px 8px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: solid 1px;
}

tfoot a:hover{
    border: solid 1px rgb(197, 196, 196);
    color: #fff;
    background: rgb(197, 196, 196);
}